<section class="container mt-2">
    <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between mb-4">
        <a class="btn btn-primary btn-sm" href="/groups/new-group">New Group<a>
    </div>

    <ul class="list-group">
        {{#each groups}}
        <li class="list-group-item"> <a href="/groups/{{this.id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
</section>