<section class="container mt-2">
    <h1 class="bd-title" id="content">Create a Group</h1>
    <p class="bd-lead">Create a new group and invite your friends!</p>
    <form action="/new-group" method="POST">
        <div class="form-group">
            <label for="name">Group Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Group Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>