<article class="container mt-2">
    <div class="jumbotron bg-primary text-white d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Dawat Dawat</h1>
        <p class="lead">Send &amp; Receive money with  friends!</p>
    </div>
</article>